<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repost</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <div class="logo" id="logo">
        <img src="Logo.png" alt="logo">
    </div>

    <div class="topnav" id="topnav">
        <a class="current" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <div class="login" id="login">
            <a v-if="typeof(user) ==='undefined' || user === null || user === ''" href="login">Login</a>
            <span v-else>Logged in as {{ user }}</span>
        </div>
    </div>

    <!--<div id="post-list" class="post-list">
        <div class="post">
            <div class="post-circle">
                <a href="user">
                    <img src="pp.png">
                </a>
            </div>
            <div class="post-info">
                <a href="blabla" class="post-info-resub">test resub</a>
                <span class="post-info-space">-</span>
                <a href="blabla" class="post-info-user">test user</a>
                <br>
                <a href="blabla" class="post-info-title">test title</a>
            </div>
        </div>
        <div class="post">
            <div class="post-circle">
                <a href="user">
                    <img src="pp.png">
                </a>
            </div>
            <div class="post-info">
                <a href="blabla" class="post-info-resub">test resub2</a>
                <span class="post-info-space">-</span>
                <a href="blabla" class="post-info-user">test user2</a>
                <br>
                <a href="blabla" class="post-info-title">test title2</a>
            </div>
        </div>
    </div>-->

    <div id="post-list" class="post-list">
        <div class="post" v-for="post in posts">
            <div class="post-circle">
                <a href="user">
                    <img src="pp.png">
                </a>
            </div>
            <div class="post-info">
                <a href="blabla" class="post-info-resub">{{ post.parent_resub_name }}</a>
                <span class="post-info-space">-</span>
                <a href="blabla" class="post-info-user">{{  post.author_username  }}</a>
                <br>
                <a href="blabla" class="post-info-title">{{ post.title }}</a>
            </div>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>