<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Repost</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <div class="logo" id="logo">
        <a href="index.html">
            <img src="Logo.png" alt="logo">
        </a>
    </div>

    <div class="topnav" id="topnav">
        <a href="resubs/">Resubs</a>
        <a href="users/">Users</a>
        <a href="support.html">Support</a>
        <div class="login" id="login">
            <a v-if="typeof(user) === 'undefined' || user === null" href="login">Login</a>
            <a href="users/me" v-else>{{ user }}</a>
        </div>
    </div>

    <div id="post-data" class="post-data">
        <div class="post-list">
            <div class="post" v-for="(post, index) in posts">
                <div class="post-circle">
                    <a v-bind:href="'users/' + post.author_username">
                        <img v-bind:src="'nopf.png'">
                    </a>
                </div>
                <div class="post-info">
                    <a v-bind:href="'resubs/' + post.parent_resub_name + '/posts/' + post.id" class="post-link"></a>
                    <div class="post-info-left">
                        <a v-bind:href="'resubs/' + post.parent_resub_name" class="post-info-resub">{{ post.parent_resub_name }}</a>
                        <span class="post-info-space">-</span>
                        <a v-bind:href="'users/' + post.author_username" class="post-info-user">{{  post.author_username  }}</a>
                        <br>
                        <span class="post-info-title">{{ post.title }}</span>
                    </div>
                    <div class="post-info-right" v-bind:style="getVoteColor(post.votes)">
                        <span class="post-info-votes">{{ post.votes }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-rated-post">
            <a v-bind:href="'resubs/' + topPost.parent_resub_name + '/posts/' + topPost.id" class="post-link"></a>
            <div class="top-rated-post-top">
                <span class="top-post-title">Top Rated Post</span>
                <br>
                <span class="post-info-space">From</span>
                <a v-bind:href="'resubs/' + topPost.parent_resub_name" class="post-info-resub">{{ topPost.parent_resub_name }}</a> -
                <span class="post-info-space">By</span>
                <a v-bind:href="'users/' + topPost.author_username" class="top-author">{{ topPost.author_username }}</a> -
                <span>Votes </span><span class="top-post-votes">{{ topPost.votes }}</span>
            </div>
            <div class="top-rated-post-bottom">
                <span class="top-rated-post-title">{{ topPost.title }}</span>
                <p class="top-rated-post-content">{{ topPost.content }}</p>
            </div>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>