@import "reset.css";

/* Background Color */
body {
  background-color: #1a1a1a;
  font-family: Consolas, monaco, monospace;
}

/* Logo */
.logo {
  position: fixed;
  background-color: #242424;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 85px;
  z-index: 3;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Top navigation bar */
/* Background colour  */
.topnav {
  position: fixed;
  top: 0;
  left: 65px;
  right: 0;
  background-color: #2e2e2e;
  overflow: hidden;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
  height: 65px;
  z-index: 2;
  padding-left: 65px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #45b1ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s;
}

.topnav a:hover {
  color: #ffffff;
}

.login {
  float: right;
}

.post-list {
  position: absolute;
  color: white;
  top: 200px;
  left: 10%;
  width: 35%;
}

.post {
  height: 80px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.post:hover {
  filter: brightness(110%);
}

.post-circle {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: #242424;
  border-radius: 50%;
  z-index: 1;
}

.post-circle img {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-info {
  position: relative;
  top: -65px;
  left: 10%;
  width: 87%;
  height: 50px;
  background-color: #2e2e2e;
  padding-left: 3%;
  font-size: 12px;
}

.post-info a {
  text-decoration: none;
}

.post-info-left {
  float: left;
  width: 90%;
  height: 100%;
}

.post-info-right {
  position: relative;
  float: right;
  width: 10%;
  height: 100%;
}

.post-info-resub {
  color: #45b1ff;
}

.post-info-resub:hover {
  text-decoration: underline;
}

.post-info-user {
  color: white;
}

.post-info-user:hover {
  text-decoration: underline;
}

.post-info-title {
  position: absolute;
  font-weight: bold;
  bottom: 15%;
  font-size: 22px;
  color: white;
}

.post-info-votes {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-rated-post {
  position: absolute;
  top: 200px;
  right: 10%;
  width: 35%;
}

.top-rated-post-top {
  position: relative;
  background-color: #2e2e2e;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  top: 15px;
  height: 50px;
}

.top-rated-post-subtop {
  font-size: 12px;
}

.top-rated-post-subtop a {
  text-decoration: none;
}

.top-rated-post-subtop a:hover {
  text-decoration: underline;
}

.top-author {
  color: #00ff73;
}

.top-post-votes {
  color: #45b1ff;
}