@import "reset.css";

/* Logo */
.logo {
  background-color: #1c2270;
  height: 100px;
  width: 100px;
  border-radius: 50% 0 50% 50%;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  line-height: 85px;
}

.logo span {
  color: white;
  vertical-align: middle;
  line-height: normal;
}

/* Top navigation bar */
/* Background colour  */
.topnav {
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  background-color: #1c2270;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}